
header.shop-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: 2rem auto;
  padding: 2rem 20px;
  font-family: $font-main;
  text-align: center;


  h1 {
    padding: 0 20px;
    @media #{$tablet} {
      font-size: 2.5rem;
    }
  }
}

.link {
  margin: 2rem auto;
  padding: 20px;
  a {
    padding: 10px;
    background: #fff;
    color: #454545;
    text-decoration: none;
    transition: 0.2s;
    @media #{$tablet} {
      padding: 10px 20px;
    }

    &:hover {
      color: #fff;
      background: #454545;
      transition: 0.2s;
    }
  }
}

.shop-grid {
  width: 75%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;

  .shop {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // background-color: rgba(180, 180, 180, 0.8);
    background-color: #373f52;
    border-radius: 5px;

    p {
      padding: 10px;
      text-align: center;
      font-size: 1.5rem;
      font-family: $font-main;
    }
  }
  .shop-img-wrapper {
    width: 200px;
    height: 110px;
    padding: 20px;
    overflow: hidden;

    img {
      width: 100%;
    }
  }

  .more-info-link-wrapper {
    margin: 2rem 0;
  }
  .more-info-link {
    padding: 15px 30px;
    color: white;
    background-color: #220a37;
    border-radius: 2px;
  }
}
