.site-wrapper {
  display: flex;
  flex-direction: column-reverse;
  font-family: $font-main;
  @media #{$desktop} {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
}

main {
  width: 90%;
  margin: 0 auto;
  @media #{$tablet} {
    margin: 2rem auto;
  }
}

aside {
  width: 90%;
  margin: 2rem auto;
}

.shop-info {
  margin: 1rem auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  h1 {
    margin: 1rem 0;
  }
  p {
    margin: 5px 0;
  }
}

.shop-img-wrapper-individual {
  width: 50%;

  img {
    width: 100%;
  }
}

.button-wrapper {
  padding: 1rem 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;


  .edit-button a {
    margin-right: 10px;
    @include formButton;
  }

  .delete-button {
    display: inline;
    button {
      @include formButton;
      font-family: $font-main;
      font-size: 1rem;
      background-color: #660000
    }
  }
}



.comment-wrapper {
  margin-top: 2rem;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.2);

  .comment-button  {
    margin: 2rem 0;

    a {
      color: white;
      background-color: #009adc;
      padding: 15px 30px;
      border-radius: 2px;
    }
  }

  .comment {
    margin: 10px 0;
    
    .author {
      font-weight: 700;
    }

    .comment-button-wrapper {
      display: flex;
      align-items: center;
      >* {
        display: flex;
        justify-content: center;  
        align-items: center;
      }

      a {
        width: 70px;
        height: 20px;
        margin-right: 10px;
        padding: 5px;
        color: white;
        background-color: #00ab4c;
      }

      button {
        width: 70px;
        height: 32px;
        padding: 5px;
        color: white;
        font-size: 1rem;
        background-color: #660000;
        border: none;
      }
    }
  }
}



#map {
  height: 400px;
  width: 100%;
}