<% include partials/header.ejs %>

<div class="landing">
  <header>
    <h1>Welcome to Coffee Hub!</h1>
    <p>Find the perfect coffee shop for you!</p>
    <div class="view-shop-link">
      <a href="/coffeeshops">View All Coffee Shops!</a>
    </div>
  </header>
</div>

<% include partials/footer.ejs %>