<% include partials/header.ejs %>

<header>
  <h1>Welcome to Coffee Hub!</h1>
  <p>Find the perfect coffee shop for you!</p>
  <div class="view-shop-link">
    <a href="/coffeeshops">View All Coffee Shops!</a>
  </div>
</header>

<% include partials/footer.ejs %>