<% include partials/header %>
 
 
<header class="new-shop-header">
  <h1>Sign Up!</h1>
</header>

<form class="form" action="/register" method="POST">
  <input type="text" name="username" placeholder="username">
  <input type="password" name="password" placeholder="password">
  <button>Sign Up!</button>
</form>

<% include partials/footer %>